@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
  border-radius: 4px;

}


body {
  width: 100%;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(238, 236, 236);
    
   
    box-shadow:0 5px 15px rgba(228, 13, 13, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
 left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
  text-decoration: none;
font-size: 14px;
font-weight: 600;
color: black;
transition: 0.2s ease;
}
#navbar li a:hover,
#navbar li a:active
{
    color: rgb(96, 94, 105);
    /* text-decoration: underline; */
}
#navbar li a.active::after,#navbar li a:hover::after
{
content: "";
position: absolute;
width: 30%;
height: 2px;
background: #088178;
bottom: -5px;
left: 20px;

}
#hero{
    background-image: url("img/new iamg/back.jpg");
height: 90vh;
width: 100%;
background-position: top 25% right 0;
background-size: cover;
padding: 0 80px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}
#hero button{
    background-image: url(img/button.png);
    background-color: #E5E3E4;
    color: white;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;


}

#feature1 .febox{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 0 5px 15px rgba(228, 13, 13, 0.06);
    border-radius: 4px;
    border: 1px solid #088178;
    margin: 15px 0;
}

#feature1 .febox:hover{
  box-shadow: 10px 10px 20px rgb(156, 148, 193);
}
#feature1 .febox img{
  width: 100%;
  margin-bottom: 10px;
}


#feature1 .febox h6{
  padding: 9px 8px 6px 8px;
  line-height: 1;
  display: inline-block;
  border-radius: 4px;
  color: #ffffff;
  background-color: rgb(65, 119, 167);
  
}
#feature1 .febox:nth-child(2) h6{
  background-color: rgb(214, 76, 76);
}
#feature1 .febox:nth-child(3) h6{
  background-color: rgb(27, 21, 21);
}
#feature1 .febox:nth-child(4) h6{
  background-color: rgb(152, 26, 26);
}
#feature1 .febox:nth-child(5) h6{
  background-color: rgb(89, 43, 43);
}
#feature1 .febox:nth-child(6) h6{
  background-color: rgb(233, 126, 126);
}



#feature1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap:wrap;

}
#product1{
  text-align: center;


}
#product1 .pro-con{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  flex-wrap:wrap;

}

#product1 .pro
{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #161515;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgb(219, 219, 220);
  margin: 15px 0;
  transition: 0.3s ease;
  position: relative;



}
#product1 .pro:hover{

  box-shadow: 20px 20px 30px rgb(148, 142, 173);
}
#product1 .pro img{
  width: 100%;
  border-radius: 20px;

}
#product1 .pro .des{
  text-align: start;
  padding: 10px 0;;


}
#product1 .pro .des span{
  text-align: start;
  font-size: 12px;
  color: rgb(16, 16, 16);
}
#product1 .pro .des h5{
  padding-top: 7px;
  color: #465b52;
  font-size: 14px;

}
  #product1 .pro .des i{
    font-size:14px  ;
    color: rgb(206, 199,12);
  }
  #product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
  }
   #product1 .pro #cart{
    width: 40px;
    height:40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    /* font-weight: 500; */
    color: #088178;
    border: 1px solid #ffffff;
    position: absolute;
    bottom: 20px;
    right: 10px;
  
  } 
  #banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image:url(img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;

  }
#banner h4{
  color: #ffffff;
  font-size: 15px;


}
#banner h2{
  color: #ffffff;
  font-size: 30px;
  padding: 10px;

}
#banner h2 span{
  color: red;

} 
#banner button:hover{
  background: grey;
  color: #e8f6ea;
}
#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
#sm-banner .banner-box{
  display: flex;
    flex-direction: column;
    text-align: center;
     justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b17.jpg);    
    min-width: 580px;
    height: 50vh;
    background-position: center;
    background-size: cover;
    padding:30px;
  }
#sm-banner .banner-box2{
  background-image:url(img/banner/b10.jpg) ;
}
#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
#sm-banner h4{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2{
  color:rgb(255, 255, 255) ;
  font-size: 28px;
  font-weight: 800;

}
#sm-banner span{
  color:rgb(255, 253, 253) ;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 15px;
  
}

button.red{
  font-size: 13px;
  font-weight: 600;
  padding: 13px 30px;
  color: rgb(255, 255, 255);
  background: transparent;
  cursor: pointer;
  border: 1px solid;
  transition: 0.2s ease;
outline: none;
}
button.red:hover{
  background-color: rgb(72, 192, 114);
  color: black;
  border: 1px solid;
}

#newletter{
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(img/banner/b14.png);
  background-repeat: no-repeat;
  background-position:20% 30% ;
  background-color: black;


} 
#newletter h4{
  font-size: 22px;
  font-weight: 700;
color: #ffffff;
}
#newletter p{
  font-size: 14px;
  font-weight: 600;
  color: #d1d1d1;
}
#newletter p span{
  color: rgb(216, 52, 52);
}
#newletter input{
 height: 3.12rem;
 padding: 0 1.25em;
 font-size: 14px;
 width: 100%;
 border :1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
 #newletter button{
  background-color: #088178;
  color: white;
   border-top-left-radius: 0;
  border-bottom-left-radius: 0;
 }
 #newletter .form{
  display: flex;
  width: 40%;
  white-space: nowrap;
 }
 /*----------------------------------------------------------*/
 /* footer*/
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
footer .col{
   display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom: 20px;

}
footer .logo{
  margin-bottom: 30px;

}
footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}
footer p{
  font-size: 13px;
margin: 0 0 8px 0;
}
footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer .follo{
  margin-top: 20px;
}
footer .follo i{
  color:rgb(42, 42, 41) ;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img{
  border-radius: 6px;
  border: 1px solid black;
}footer .install img{
  margin: 10px 0 15px 0 ;
}
footer .follo i:hover,footer :hover{
  color: #5c5e5c;

}

/*shop*/
#page-header{
  background-image: url(img/banner/b1.jpg);
  width: 100%;
height: 40vh;
background-size:cover ;
display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
padding: 14px;
}
#page-header h2 ,p{
  color: #ffffff;
  ;
}
#pageination{
  text-align: center;

}#pageination a{
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
}
#pageination a i{
  font-size: 16px;
  font-weight:600;
}
/*---------------------------------------------------------------*/
/*product*/
#prodetails{
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;


}
.small-img-group{
   display: flex;
   justify-content: space-between;

}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
  
}
#prodetails .single-pro-details{
width: 50%;
padding-top: 30px;
}
#prodetails .single-pro-details h4{
  padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
font-size: 20px;
}
#prodetails .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details button{
  background-color: #088178;
  color: white;

}
#prodetails .single-pro-details input:focus{
  outline: none;
}
#prodetails .single-pro-details span{
  line-height: 25px;
}
/* -----------------------------------------------------*/
/* blog page*/
#page-header.blog-header{
  background-image: url(img/banner/b19.jpg);

}
#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog-box{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
padding-bottom: 90px;
}
#blog .blog-img{
width: 50%;
margin-right: 40px;
}
#blog img{
  width: 100%;
  height: 300px;
  object-fit:cover ;
}
#blog .blog-details{
width: 50%;
}
#blog .blog-details a{
  text-decoration: none;
  font-size: 11px;
  color: #161515;
  font-weight: 700;
  position: relative;

}
#blog .blog-details a::after{
  content: "";
  width: 50px;
  height: 1px;
  background-color: #161515;
  position: absolute;
  top: 4px;
  right: -60px; 
}
#blog .blog-details a:hover{
  color: #088178;
  transform: 0.3s;
}
#blog .blog-details a:hover::after{
  background-color: #088178;
}
#blog .blog-box h1{
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #d1d1d1;
  z-index: -9;
}
/* about*/
#page-header.about-header {
background-image: url("img/about/banner.png");
}
#about-header img{
  width: 50%;
  height: auto;
}
#about-header{
  display: flex;
  align-items: center;
}
#about-header div{
  padding-left: 40px;
}
#con-det{
 display: flex;
 align-items: center;
 justify-content: space-between; 
}
#con-det .details{
  width: 40%;
}
#con-det .details span,#form-details form span{
  font-size: 12px;
}
#con-det .details h2,#form-details form h2{
  font-size:26px;
  line-height: 35px;
  padding: 20px 0;
}
#con-det .details h3{
  font-size:16px;
  padding-bottom:15px ;
}
#con-det .details li{
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#con-det .details li i{
font-size: 14px;
  padding-right: 22px;
}
#con-det .details li p{
  margin: 0;
  font-size: 14px;
}
#con-det .map{
  width: 55%;
  height: 400px;
}
#con-det .map iframe{
  width: 100%;
  height: 100%;
}
#form-details {display: flex;
justify-content: space-between;
margin:30px ;
padding: 80px;
border: 1px solid black;
}
#form-details form{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
#form-details form input,
#form-details form textarea{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid rgb(0, 0, 0);
}
#form-details form button{
  background-color: #088178;
  color: white;
}
#form-details .people div{
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}
#form-details .people div img{
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}
#form-details .people div p{
  margin: 0;
  font-size: 10px;
  line-height:25px;
}
#form-details .people div p span {
  display: block;
  font-size: 16px ;
  font-weight: 600;
  color: #161515 !important;
}
/* cart*/
#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table td:nth-child(1){
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2){
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3){
  width: 200px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
  width: 160px;
  text-align: center;
}
#cart table td:nth-child(5) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart table img{
  width: 70px;
}
#cart table thead{
  border: 1px solid black;
  border-left: #088178;
  border-right: none;
}
#cart table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td{
  padding-top: 15px;
}
#cart table tbody td{
  font-size:13px ;
}
.total{
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
#cart-add{ 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#cart-add #coupon{
  width: 50%;
  margin-bottom: 30px;
}
#coupon h3,sub h3{
  padding-bottom: 15px;
}
#coupon input{
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #161515;
}
#coupon button{
  background-color: #088178;
  color: white;
  padding: 12px 20px;
}
#sub{
  width: 50%;
  margin-bottom: 30px;
border: 1px solid black;
padding: 30px;
}
#sub table{
  border-collapse: collapse;
  width:100%;
 margin-bottom: 20px;
}
#sub table td{
  width: 50%;
  border: 1px solid black;
  padding: 10px;
  font-size: 13px;
}